@import '../css/media.scss';
@import '../css/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.container {
    max-width: 960px;
    margin: 0 auto;
}

.parent {
    overflow: hidden;
    .anh_1 {
        @include xs {
            width: 100%;
        }
        @include sm {
            width: 100%;
        }
        @include lg {
            width: 100%;
        }
    }
    .anh_3 {
        @include xs {
            width: 100%;
        }
        @include sm {
            width: 100%;
        }
        @include lg {
            width: 100%;
        }
    }
}
.by {
    cursor: pointer;
    color: #a3a2a2;
    margin-bottom: 10px;
    @include xs {
        font-size: 10px;
    }
    @include sm {
        font-size: 16px;
    }
}
