@import '../css/media.scss';
@import '../css/reset.scss';

.modal-quay {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .vongquay-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        .arrow-modal {
            position: absolute;
            z-index: 1;
            top: -1%;
        }
        .vongquay-modal {
            @include xs {
                height: 45vh;
                @media (orientation: landscape) {
                    height: 80vh;
                }
            }
        }
        .btXoay {
            position: absolute;
            cursor: pointer;
            .anh_btn-quay {
                
            }
        }
    }
   
}
