@import '../css/media.scss';
@import '../css/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.swal2-input {
    margin: 10px auto !important;
}

.ten-qua {
    color: #fd79a8;
    font-size: 24px;
}

.modal {
   

   
}
