@import '../css/media.scss';
@import '../css/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.swal2-input {
    margin: 10px auto !important;
}
.ten-qua{
    color: #fd79a8;
}
.text-nhan-qua{
    margin-top: 10px;
}
.modal {
    font-family: 'Roboto';

    .trangchu {
        display: block;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        &:hover {
            color: #feca57;
        }
    }
    .hetluot {
        border-radius: 7px;
        background-color: #fd79a8;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include xs {
            padding: 20px 20px;
            width: 60%;
        }
        @include sm {
            padding: 20px 40px;
        }
        @include md {
            padding: 20px 60px;
        }
        @include lg {
            padding: 20px 40px;
        }
        @include xl {
            padding: 20px 60px;
        }
        p {
            color: #feca57;
            text-align: center;
            @include xs {
                font-size: 14px;
            }
            @include sm {
                font-size: 18px;
            }
            @include lg {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
}
