@import '../css/media.scss';
@import '../css/reset.scss';

.g-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .anh_nen {
        //img
        @include xs {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
        @include sm {
            width: 100%;
            height: 500px;
        }
        @include lg {
            width: 100%;
            height: auto;
        }
    }

    .vongquay-group {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        .arrow {
            position: absolute;
            z-index: 1;
            top: -1%;
        }
        .anh_vongquay {
            //img
            @include xs {
                height: 45vh;
                @media (orientation: landscape) {
                    height: 80vh;
                }
            }
        }
        .btXoay {
            position: absolute;
            text-align: center;
            cursor: pointer;
            .anh_btn-quay {
                // @include xs {
                //     height: 55px;
                //     width: 55px;
                //     &:hover {
                //         transform: scale(1.3);
                //         transition: 0.5s;
                //     }
                // }
                // @include sm {
                //     height: 70px;
                //     width: 70px;
                //     &:hover {
                //         transform: scale(1.3);
                //         transition: 0.5s;
                //     }
                // }
                // @include md {
                //     height: 80px;
                //     width: 80px;
                //     &:hover {
                //         transform: scale(1.3);
                //         transition: 0.5s;
                //     }
                // }
                // @include lg {
                //     height: 70px;
                //     width: 70px;
                //     &:hover {
                //         transform: scale(1.3);
                //         transition: 0.5s;
                //     }
                // }
            }
        }
    }
}
